<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">History</ion-title>
    </ion-toolbar>
  </ion-header>

    <div id="container">
      <ion-list>
        <ion-list-header>
          <ion-label>Transaction History</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let trans of appManagerService.transaction">
          <div id="order-item">
            <div id="date">
              <ion-label>{{trans.transtime | date: 'yyyy/MM/dd : HH:mm'}}</ion-label>
            </div>
            <div id="property">
              <ion-label>{{trans.name}}</ion-label>
              <ion-label>${{trans.price | number : '1.2-2'}}</ion-label>
              <ion-label>{{trans.quantity}}</ion-label>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
