<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restock
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restock</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let itm of itmStock">
    <ion-label class="lbl">{{itm.name}}</ion-label>
    <ion-item class="itm">
      <div style="width:100%">
        <ion-button (click)="substract(itm.name, itm.stock)">-</ion-button>
        <ion-label class="fit">{{itm.stock}}</ion-label>
        <ion-button (click)="add(itm.name, itm.stock)">+</ion-button>
      </div>
      <div style="width:100%">
        <ion-button class="right" (click)="stock(itm.name, itm.stock)">Stock</ion-button>
      </div>
    </ion-item>
  </div>
</ion-content>